/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/auth.json
/bootstrap/cache/*.php
/npm-debug.log
/package-lock.json
/php_errors.log
/storage/app/public/*
/storage/debugbar/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
/vendor
.phpunit.result.cache
.vscode
/public/storage
/storage/*.key
.idea
.DS_Store
